{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <h1>Album list</h1>

        <ul>
            <li>
                <a href="{{ path('album_new') }}">Create a new entry</a>
            </li>
        </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Regcode</th>
                <th>Albumname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
        {% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' or is_granted('ROLE_' ~ album.regcode ) %}
            <tr>
                <td><a href="{{ path('album_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                <td>{{ album.regCode }}</td>
                <td>{{ album.albumName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('album_show', { 'id': album.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('album_edit', { 'id': album.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {%  endif %}
{% endblock %}
