{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <h1>Gallery list</h1>

        <ul>
            <li>
                <a href="{{ path('gallery_new') }}">Create a new entry</a>
            </li>
        </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Galleryname</th>
                <th>Regcode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
        {% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' or is_granted('ROLE_' ~ gallery.regcode|upper ) %}
            <tr>
                <td><a href="{{ path('gallery_show', { 'id': gallery.id }) }}">{{ gallery.id }}</a></td>
                <td>{{ gallery.galleryName }}</td>
                <td>{{ gallery.regCode }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gallery_show', { 'id': gallery.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gallery_edit', { 'id': gallery.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>


    {% endif %}
{% endblock %}
